** {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
border:none!important; /* ana*/
border-radius:0!important;/* ana*/

}


body {
  font-family: 'Roboto', sans-serif;
  color: #404040;
  background-color: #e8e8ee;/* ana*/
  padding: 0;
  margin: 0;

}

.ds-right.ds-general-information-table-head-3 th {
  color: #fff;
  background: #1a7fa8;
}
.small-table{
  width: 50%;
  float: right;
}
 p.ds-title {
  color: #fff;
  background: #1a7fa8;
}
.ds-wrap-down3 p {
  margin-left: 2px;
}
.ds-total-count-item.ds-total-line-price span {
  font-weight: 600;
}
/* table.ds-first-table-body td {
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}
table.ds-third-table-body td {
  padding-top: 5px!important;
  padding-bottom: 5px!important;
} */
/* ana end */
table.ds-third-table-body .ds-doc-num{
  border-right: none;
  font-size: 14px !important;
}

.small-table td:first-child{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

.ds-third-table-body td {
  font-size: 14px !important;
  height: auto;
}
th,td {
  text-align: right!important;
  font-size: 12px !important;
  /* border:none!important;
  border-radius:0!important; */
}
  table input{
    width: 100%;
    height: 70%;
    border: 1px solid #b2b2b2;
    outline: none;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  input:focus{
    outline: none;
  }
  button:focus{
    outline: none;
  }
  .unfilled-approved-date{
    border: 2px solid red!important;
  }
  .ds-wrap-2,
  .ds-wrap-3{
    margin-bottom: 1px;
  }
  .ds-container-header,
  .ds-container-search,
  .ds-container-dropdown,
  .ds-container-details{
    width: 100%;
    height: auto;
    padding: 0 10px;
  }
  .ds-container-dropdown{
    padding-right: 0;
    padding-left: 0;

  }
  /* .ds-container-search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  } */
  .ds-wrap-search{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
            position: relative;
  }
  #ds-search-products{
   width: 200px;
    height: 26px;
    border: none;
    padding-left: 17px;
    border-radius: 4px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-size: 12px;
  }

  /* When the input field gets focus, change its */
  #ds-search-products:focus {
    width: 20%;
  }
  .ds-wrap-search .ds-search-icons{
    position: absolute;
    height: 26px;
    width: 26px;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 6px;
    color: #fff;
    background-color: #1a7fa8;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
  }
  /* FOR DROPDOWN IN HEADER */
  .dropdown-header-content{
    float: left;
  }
  #options.dropdown {
    height: 26px;
    width: 190px;
    padding: 5px;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    position: relative;
    background: #fff;
    font-size: 12px;
  }
  #options.dropdown ul[class^=sub_menu] {
    display: none;
    width: 190px;
    padding: 6px 0;
    list-style: none;
    margin: 0;
    background-color: #FFF;
    position: absolute;
    z-index: 200;
    left: 0;
    top: 26px;
  }
  #options.dropdown ul[class^=sub_menu] li {
    color: #656565;
    padding: 5px 10px;
    position: relative;
    z-index: 50;
  }
  #options.dropdown ul[class^=sub_menu] li:hover {
    background-color: #1a7fa8;
    color: #fff;
  }
  #options.dropdown ul[class^=sub_menu] li a, a.nav_link, .external_links_sub a {
    color: #333;
    text-decoration: none;
  }
  #options.dropdown ul[class^=sub_menu] li a:hover, a.nav_link:hover, .external_links_sub a:hover {
    text-decoration: underline;
  }
  #options.dropdown .title:before {
    content: "";
    position: absolute;
    z-index: 5;
    background: #1a7fa8;
    height: 26px;
    width: 26px;
    top: 0;
    right: 0;
  }
  #options.dropdown .title:after {
    content: "▾";
    position: absolute;
    top: 1px;
    right:9px;
    z-index: 10;
    font-size: 16px;
    color: #fff;
  }
  #options.dropdown .sub_menu li button {
    border: none; 
    background: none;
    padding: 0;
    position: realtive;
    z-index: 100;
  }
  
  .ds-dropdown-wrap{
    padding: 0 10px;
  }
  .ds-row-dropdown{
    width: 100%;
    text-align: right;

  }
  .ds-title-dropdown,
  .ds-title-first-data-dropdown{
    width: 50%;
    text-align: right;
    padding: 10px;
    background: #1a7fa8;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
      border-radius: 4px;
  }
  .ds-results-dropdown,
  .ds-first-data-dropdown{
    list-style-type: none;
    border-top: none;
      padding-left: 0;
  }

 

  .ds-results,
  .ds-first-output{
    line-height: 1.5;
    letter-spacing: 0.4px;
      font-size: 11px;
    cursor: pointer;
    padding: 5px 10px;
    border-top: solid 1px #f3f3f3;
    background: #FFF;
      border-radius: 4px;

  }
  .ds-results:last-child{
    /* border-bottom:  2px solid #b2b2b2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; */
  }
  .ds-results:hover,
  .ds-first-output:hover{
    background-color: rgba(26, 127, 168,.1);
  }
  
  .ds-active{
  background: #d3d3d3;
  }


.ds-pdf-wrap,
.ds-wrap-down1,
.ds-wrap-down2,
.ds-wrap-down3{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.ds-pdf-wrap span{
  color: green;
}
.ds-pdf-wrap{
  margin-bottom: 25px;
  margin-top: 50px;
}
.ds-wrap-down1 .ds-wrap-placeholder,
.ds-wrap-down2 .ds-wrap-placeholder,
.ds-wrap-down3 .ds-wrap-placeholder{
  width: 200px;
  height: 33px;
  border-radius: 4px;
  background-color: #fff;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ds-wrap-down1 span,
.ds-wrap-down2 span{
  padding: 5px;
}
  /* .ds-container-details{
    height: 300px;
  } */
  #detailed-informations .ds-header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  }
  .ds-right{
    float: right;
  }
  #detailed-informations .ds-header .ds-title{
    font-weight: 900;
    font-size: 13px;
    padding: 10px;
      border-radius: 4px;
  }
  #detailed-informations .ds-project{
    text-align: right;
    margin-bottom: 0;
  }
  #detailed-informations .ds-project p{
    padding: 5px;
    margin: 0;
    margin-bottom: 3px;
  }
  #detailed-informations .ds-project p:nth-of-type(2){
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    display: inline-block;
    font-size: 13px;

  }
  #detailed-informations .ds-project p:last-child{
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    display: inline-block;
    font-size: 13px;
  }

  /* #detailed-informations .ds-table-wrap-head table{
    padding-right: 15px
  } */
  /* #detailed-informations .ds-table-wrap-body {
    overflow-y: scroll;
  } */

 .ds-last-part{
  width: 40%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: 1px solid #1a7fa8;
  max-width: 660px;
  }
  .ds-last-part:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
.ds-total-line-price{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.ds-total-line-price p{
  margin-bottom: 0px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #fff;
  width: 70%;
  margin-bottom: 3px;
  border-radius: 3px;
  font-size: 11px;
}

.ds-total-line-price span {
  font-size: 13px;
}

.ds-total-count-wrapper{
      width: 90%;
      margin: 0 auto;
      margin-top: 10px;
}
.ds-last-part .form-group{
  margin: 10px 0;
    position: relative;
    width: 50%
}
.ds-boolean{
  margin-right: 24px;
  display: flex;
  justify-content: flex-end;
}
.ds-last-part .form-group input,
.ds-boolean input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.ds-last-part .form-group label,
.ds-boolean label {
  position: relative;
  cursor: pointer;
  margin: 0;
}

.ds-last-part .form-group label:before,
.ds-boolean label:before {
  width: 65px;
  content: '';
  -webkit-appearance: none;
  border: 2px solid #1a7fa8;
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
border-radius: 3px;
}
.ds-boolean label:before{
  width: auto;
  margin-right: 10px;
}

.label-check-mark:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 44%;;
  width: 6px;
  height: 14px;
  border: solid #1a7fa8;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.ds-boolean input:checked + label:after{
  left: 9px;
}
.ds-last-part textarea{
  width: 90%;
  height: 80px;
  border-radius: 4px;
  padding: 10px;
  direction: rtl;
  resize: vertical;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  font-size: 11px;
}
.ds-not-approved-date{
  position: absolute;
  top: -29px;
  color: red;
  font-weight: 800;
}
.ds-btn-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.ds-btn-box .form-group {
  margin-top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.ds-approve-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 87px;
}

.ds-approve-date span {
  color: red;
  margin-bottom: 1px;
  font-size: 10px;
}

.approve-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 156px;
}

.approve-all span {
  color: red;
  margin-bottom: 1px;
  font-size: 10px;
}

.text-color-green {
  color: green !important;
}


.ds-last-part  .ds-btn-submit:hover{
    color: #1a7fa8;
    background: #80ff80;
    
}
  /* M O D A L */


 #ds-form-details .ds-modal-wrapper{
    width:100%;
    height:100%;
    position:fixed;
    top:0; left:0;
    background:rgba(0,0,0,0.55);
    visibility:hidden;
    opacity:0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  #ds-form-details  .ds-modal-wrapper.open{
    opacity:1;
    visibility:visible;
  }

  #ds-form-details .ds-modal{
    width:600px;
    height:400px;
    display:block;
    margin:50% 0 0 -300px;
    position:relative;
    top:50%; 
    left:50%;
    background:#fff;
    opacity:0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  #ds-form-details .ds-modal-wrapper.open .ds-modal{
    margin-top:-200px;
    opacity:1;
  }

  #ds-form-details .ds-head{
    width: 100%;
    height: 70px;
    padding: 20px;
    overflow: hidden;
    background-color: #1a7fa8;
  }

  #ds-form-details .ds-btn-close{
    width:32px;
    height:32px;
    display:block;
    float:right;
  }

  #ds-form-details .ds-btn-close::before, .ds-btn-close::after{
    content:'';
    width:32px;
    height:6px;
    display:block;
    background:#fff;
  }

  #ds-form-details .ds-btn-close::before{
    margin-top:12px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
  }

  #ds-form-details .ds-btn-close::after{
    margin-top:-6px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
  }

  #ds-form-details .ds-content{
    padding: 5%;
    height: 66%;
    text-align: center;
    font-size: 16px;
  }
  #ds-form-details .ds-modal-footer{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  #ds-form-details .ds-modal-btn-box  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ds-form-details .ds-modal-btn-box button{
    width: 137px;
    height: 35px;
    background: #1a7fa8;
      color: #fff;
    border: 2px solid #1a7fa8;
      font-weight: 700;
    border-radius: 4px;
    outline: none;
      transition: .8s;
  }
#ds-form-details .ds-modal-btn-box button:hover{
    background: #fff;
    color: #1a7fa8;
}

  #ds-form-details .ds-modal-btn-yes{
    margin-right: 15px;
  }
  #ds-form-details .ds-modal-btn-cancel{
    margin-left: 15px;
  }


  /* P O P U P */


  #ds-form-details .ds-popup-wrapper{
    width:100%;
    height:100%;
    position:fixed;
    top:0; left:0;
    background:rgba(0,0,0,0.55);
    visibility:hidden;
    opacity:0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  #ds-form-details .ds-popup-wrapper.open{
    opacity:1;
    visibility:visible;
  }

  #ds-form-details .ds-popup{
    width:600px;
    height:200px;
    display:block;
    margin:50% 0 0 -300px;
    position:relative;
    top:50%;
    left:50%;
    background:#fff;
    opacity:0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  #ds-form-details  .ds-popup-wrapper.open .ds-popup{
    margin-top:-200px;
    opacity:1;
  }


  #display-resources{
    width: 100%;
    height: 25px;

  }
  #retrieve-resources{
    background: red;
  }


table{
    width:100%;
    table-layout: fixed;

  }
.tbl-header{
    background-color: #1a7fa8;
   }
  .tbl-content{
    margin-top: 0px;
  }
 th{
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border-right: 1px solid #fff;
  }
th:last-child,
td:last-child{
    border-right: none;
}
 td{
    padding: 3px 6px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-right: 1px solid #fff;
    background-color: rgba(26, 127, 168,.1)
  }

 tbody{
    /*border: 2px solid #1a7fa8;*/
    border-top: none;
  }
 .tbl-content tr:nth-child(even) {
    background-color: rgba(26, 127, 168,.1)
}


#detailed-informations .ds-suppliers-comments textarea{
  width: 100%;
  height: 80%;
  border: none;
  resize: none;
}
#detailed-informations .ds-serial-number {
  width: 35px;
  border-right: none;
}
.ds-shipdate{
    width: auto;
}

.ds-approveddate{
  width: 115px;
}
/* #ds-first-data{
  padding: 0 10px;
} */
@media only screen and (max-width: 1440px) {
  th{
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 th,
 td {
    font-size: 10px!important;
  }
}

.hidden-fields{
  display: none;
}

/* FOR DATA INPUT */

::-webkit-inner-spin-button { 
  display:none;
}
::-webkit-calendar-picker-indicator {
   background-color:white
  }
input[type=date]{
  font-size:10px;
  cursor: pointer;
}

::-webkit-datetime-edit-text { color:#555555}
::-webkit-datetime-edit-day-field { color: #555555; }
::-webkit-datetime-edit-month-field { color:#555555 }
::-webkit-datetime-edit-year-field { color:#555555; }
::-webkit-calendar-picker-indicator{ 
  background-image: url(http://icons.iconarchive.com/icons/dakirby309/simply-styled/256/Calendar-icon.png);
      background-position:center;
       background-size:20px 20px;
       background-repeat:no-repeat;
      color:rgba(204,204,204,0);
}


/* FOR INPUT TYPE NUMBER */
/* For Firefox */

input[type='number'] {
  -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* SVORCAN CSS */

#ds-section-search {
  padding-top: 20px;
}

.ds-boolean {
  margin-top: 0;
}

.ds-title-dropdown {
  margin-top: 20px;
  margin-bottom: 1px;
}

.ds-first-data {
  height: 0;
  visibility: hidden;
}

.ds-first-data-active {
  height: auto;
  visibility: visible;
}

.ds-header {
  margin-top: 1px;
  height: 0;
  visibility: hidden;
  width: 50%;
}

.ds-header-active {
  height: auto;
  visibility: visible;
}

.detailed-informations {
  height: 0;
  visibility: hidden;
}

.detailed-informations-active {
  height: auto;
  visibility: visible;
}

.ds-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
}

.ds-container-header {
  display: flex;
  justify-content: flex-end;
}

.ds-container-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.ds-results-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.ds-toggle-dropdown{
  display: none !important;
  height: 0 !important;
  visibility: hidden !important;
}

.ds-results {
  width: 50%;
}

#ds-first-filter-output {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.ds-first-data-dropdown {
  width: 50%;
  height: auto;
  visibility: visible;
}

.version-select {
  width: 100%;
  height: 22px;
  background: #d2dde7;
}

.ds-last-part  .ds-btn-submit{
  width: 70px;
  height: 35px;
  background-color: #33ff33;
  border: 2px solid #1a7fa8;
  color: #1a7fa8;
  font-weight: 600;
  margin: 25px 0;
  border-radius: 3px;
  transition: .8s;
  font-size: 11px;
}

.submit-button-reject {
  width: 70px;
  height: 35px;
  
  background-color:#ff471a;
  border: 2px solid #1a7fa8;
  color: #fff;
  font-weight: 600;
  margin: 25px 0;
  border-radius: 3px;
  transition: .8s;
  font-size: 11px;
}

.submit-button-reject:hover {
  color: white;
  background: #ff8566;
}

.submit-button-clear-all {
  width: 70px;
  height: 35px;
  background-color: #1a7fa8;
  border: 2px solid #1a7fa8;
  color: #fff;
  font-weight: 600;
  margin: 25px 0;
  border-radius: 3px;
  transition: .8s;
  font-size: 11px;
}

.submit-button-clear-all:hover {
  color: #1a7fa8;
  background: #fff;
}

.warning-modal{
    width: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 50px;
    border: 1px solid #1a7fa8;
    max-width: 660px;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 4rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    font-size: 13px;
}

.warning-modal-active {
  visibility: visible;
  opacity: 1;
}

.warning-modal-text-inner {
  margin: 0;
  color: red;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  margin-left: 15px;
}

.warning-modal:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.invalid-input {
  background: rgba(255, 0, 0, 0.4);
}

.valid-input {
  background: rgb(194, 255, 156)
}

.warning-modal-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  visibility: visible;
  transition: all 0.3s;
}

.warning-modal-buttons-disable {
  display: none;
}

.warning-modal-button {
  width: 70px;
  height: 35px;
  background-color: #1a7fa8;
  border: 2px solid #1a7fa8;
  color: #fff;
  font-weight: 600;
  margin: 10px 0;
  border-radius: 3px;
  transition: .8s;
  font-size: 11px;

}

.warning-modal-button:hover {
    color: #1a7fa8;
    background: #fff;
}


.warning-modal-buttons-active {
  visibility: visible;
  opacity: 1;
  display: flex;
}



.ds-remarks {
  width: 200px;
}

.ds-suppliers-comments {
  width: 200px;
}

.tbl-content input,.tbl-content textarea  {
  padding: 0 5px;
}

.last-bottom-container {
  justify-content: flex-start;
  padding-bottom: 50px;
  padding-top: 50px;
}

#reject-yes {
  margin-right: 1rem;
}

.ds-first-data-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.first-output-headered {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  min-width: 200px;
}

.warning-modal-reject-buttons .inner-buttons-container {
  display: flex;
  align-items: center;
}

.first-output-headered p{
  margin: 0;
  width: 20%;
  text-align: right;
}

.first-data-dropdown-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
  color: #1a7fa8;
  background: white;
  width: 100%;
  min-width: 200px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  font-size: 11px;
  padding: 5px 10px;
  border-top: solid 1px #f3f3f3;
  background: #FFF;
  border-radius: 4px;
}

.first-data-dropdown-header p {
  width: 20%;
  text-align: right;
}

.submit-red {
  width: 70px;
    height: 35px;
    background-color: #ff471a;
    border: 2px solid #1a7fa8;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    transition: .8s;
    font-size: 11px;
}

.submit-green {
  width: 70px;
  height: 35px;
  background-color: #33ff33;
  border: 2px solid #1a7fa8;
  color: #1a7fa8;
  font-weight: 600;
  border-radius: 3px;
  transition: .8s;
  font-size: 11px;
  margin: 10px 0;
}

.main-warning-text {
  display: none;
  font-weight: bold;
}

.textarea-container{
  position: relative;
}

.textarea-display-text {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  width: auto;
  max-width: 150px;
  overflow: hidden;
  font-size: 13px;
  border: 1px solid #1a7fa8;
  background: white;
  border-radius: 5px;
  padding: 5px 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.textarea-display-text span{
  max-width: 100%;
  word-break: break-all;
}


.info-container-row {
  position: relative;
}

.page-header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: white;
  color: #1a7fa8;
  padding: 5px 10px;
  height: 70px;
}

.page-header-logo h3 {
  margin: 0;
}

.logo-image {
  max-height: 100%;
  margin-left: 30px;
}

.warning-modal-reject-buttons {
  align-items: center;
  flex-direction: column;
}

.reject-reason-input {
  border: none;
  height: 30px;
  padding: 1px;
}

.disabled-button {
  opacity: 0.5;
  pointer-events: none;
}

textarea {
  text-align: right;
}

.approve-all-warning {
  margin-top: 30px;
  
}

.approve-all-warning .warning-modal-text-inner {
  font-size: 19px;
}

.ds-last-part p {
  text-align: right;
}

#ds-form-details input {
  text-align: right;
}

.ds-remarks input {
  color: gray;
}

.warning-modal-check-mark-container {
  height: 100%;
  position: relative;
  width: 30px;
  height: 30px;
}

.checkmark-first-part {
  content: '';
  display: none;
  position: absolute;
  top: -3px;
  left: 44%;
  width: 10px;
  height: 26px;
  border: solid #228B22;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark-active {
  display: block;
}

.warning-modal-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 210px;
  align-items: center;
}

.ds-item-description {
  width: 200px;
}

.ds-item-code {
  width: auto;
}

.ds-header th {
  font-size: 14px !important; 
  font-weight: bold;
}
